@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

body {
    color: #eeeef0;
    background: linear-gradient(135deg, #1b263b 0%, #2a3e59 40%, #415a77 75%, #778da9 100%);
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    width: 100%;
    padding: 0;
    min-height: 40rem;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 15px;
    transition: opacity 0.3s ease;
    background-color: #eeeef0;
}

::-webkit-scrollbar-thumb {
    background: rgba(65, 90, 119, 0.7);
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-corner {
    background: rgba(42, 62, 89, 0.9);
}

.content {
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    min-height: 40rem;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(238, 238, 240, 0.2);
    background: rgba(42, 62, 89, 0.3);
    backdrop-filter: blur(15px);
    color: #eeeef0;
    font-size: 1rem;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

header {
    width: 100%;
    background: rgba(42, 62, 89, 0.3);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(238, 238, 240, 0.2);
    height: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    gap: 5px;
}

header:hover {
    backdrop-filter: none;
    background-color: #2a3e59;
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 20px;
    transition: all 0.3s ease;
    gap: 10px;
    flex: 0.3;
}

.logo-and-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    max-width: 100%;
    flex: 0.3;
    padding: 0;
    margin: 0;
    margin-right: auto;
    text-align: left;
}

.logo-and-title h1 {
    display: flex;
    font-weight: 600;
    font-size: 2rem;
    font-style: normal;
    color: #eeeef0;
    margin: 0;
}

.logo {
    max-width: 80px;
    padding-top: 10px;
}

.logo-and-title h1:hover,
.logo-and-title .logo:hover,
.footer-logo:hover {
    cursor: pointer;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    height: 40px;
    outline: none;
    background: rgba(238, 238, 240, 0.15);
    border: 1px solid rgba(238, 238, 240, 0.2);
    border-radius: 25px;
    gap: 0;
    flex: 0.35;
}

input {
    font-family: 'Times New Roman', Times, serif;
}

.search-bar input {
    font-size: 0.8rem;
    padding-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 25px;
    color: #eeeef0;
    min-width: 100%;
    height: 100%;
    padding-right: 45px;
}

.search-bar input:focus {
    background-color: #2a3e59;
}

.search-bar input::placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: #eeeef0;
}

input::selection {
    background-color: #1b263b;
    color: #eeeef0;
}

.search-bar button {
    position: absolute;
    right: 0;
    height: 38px;
    width: 40px;
    border: none;
    border-radius: 100%;
    background: #2a3e59;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.search-bar button .fa-solid {
    font-size: 125%;
    color: #eeeef0;
}

.search-bar button:hover {
    background: #1b263b;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

a {
    color: #eeeef0;
    text-decoration: none;
}

nav a {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 100;
    padding: 15px 25px;
    display: block;
    white-space: nowrap;
    transition: all 0.3s ease;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    margin-left: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

nav a .fa-regular {
    font-size: 1.2rem;
    color: #eeeef0;
}

nav a:hover {
    background-color: #778da9;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 20px;
    padding: 20px 0;
    box-sizing: border-box;
    margin: 50px 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: center;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-box {
    background: #eeeef0;
    width: calc((100% - (20px * 4)) / 4);
    aspect-ratio: 3 / 4;
    /* width : height ratio */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.product-box:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.img-wrapper {
    flex: 0 0 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 15px 15px 5px;
    box-sizing: border-box;
}

.img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-box .caption {
    padding: 0px 15px 15px;
    background-color: #eeeef0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 0 0 40%;
}

.product-box .caption h4 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0 0 3px;
    color: #28282a;
}

.product-box .caption p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    color: #28282a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.product-box .caption .subtext {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-size: 0.8em;
    font-weight: 350;
    color: #415a77;

}

.fa-solid {
    color: #415a77;
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    color: #eeeef0;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 600;
    z-index: 1;
    margin: 20px;
}

.arrow:hover,
.heading a:hover {
    transform: scale(1.2);
    opacity: 1;
}

.heading {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #eeeef0 solid 3px;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.heading a {
    display: flex;
    color: #eeeef0;
    text-decoration: none;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-height: 40rem;
}

.login-container,
.register-container,
.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    height: auto;
    aspect-ratio: 1;

    padding: 20px;
    background: rgba(238, 238, 240, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    color: #eeeef0;
}

.login-form h2,
.register-form h2,
.reset-form h2 {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    text-align: center;
}

.login-form,
.register-form,
.reset-form {
    width: 90%;
}

.form-links,
.login-form p,
.register-form p,
.reset-form p {
    padding-top: 10px;
    text-align: left;
    font-size: 0.8rem;
    color: #1b263b;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    z-index: 1;
    position: relative;
    font-size: 0.7rem;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    background: rgba(238, 238, 240, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(238, 238, 240, 0.3);
    border-radius: 5px;
    color: #eeeef0;
    font-size: 0.8rem;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.form-group input::placeholder,
input::placeholder {
    color: #eeeef09a;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #778da9;
    box-shadow: 0 0 5px #778da9;
}

.btn-login,
.btn-register,
.btn-reset {
    width: 100%;
    padding: 10px;
    background-color: #2a3e59;
    border: none;
    border-radius: 5px;
    color: #eeeef0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-login:hover,
.btn-register:hover,
.btn-reset:hover {
    background: #1b263b;
}

* {
    box-sizing: border-box;
}

.edit-btn {
    padding: 12px;
    background-color: #415a77;
    border: none;
    border-radius: 5px;
    color: #eeeef0;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    text-align: center;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #1b263b;
    /* Ticket Express dark blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s ease-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 1s ease-out;
}

.input-field,
.select-field,
.color-picker,
.range-slider {
    padding: 12px;
    background-color: #eeeef0;
    border: none;
    border-radius: 5px;
    color: #28282a;
    font-size: 0.7rem;
    outline: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.color-picker {
    padding: 0;
}

.input-field:focus,
.select-field:focus,
.color-picker:focus,
.range-slider:focus {
    box-shadow: 0 0 5px #415a77;
}

.input-field::placeholder,
.select-field::placeholder,
.color-picker::placeholder {
    color: #aaa;
}

.select-field {
    background-color: #eeeef0;
}

.range-slider {
    width: 100%;
    height: 8px;
    background: #eeeef0;
    border-radius: 5px;
    outline: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #415a77;
    border-radius: 50%;
    cursor: pointer;
}

.event-tag {
    display: inline-block;
    background-color: #415a77;
    color: #eeeef0;
    text-decoration: none;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 15px;
    font-size: 1rem;
}

.event-tag:hover {
    background-color: #778da9;
}

@media (max-width: 1606px) {

    html {
        font-size: 20px;
    }

    .product-box {
        width: calc(((100% - (20px * 4)) / 4));
    }

    .product-container {
        gap: 20px;
    }
}

@media (max-width: 1380px) {

    html {
        font-size: 18px;
    }

    .product-box {
        width: calc(((100% - (20px * 3)) / 3));
    }

    .product-container {
        gap: 20px;
    }
}

@media (max-width: 1320px) {
    .logo-and-title h1 {
        display: none;
    }

    .search-bar {
        flex: auto;
    }
}

@media (max-width: 1024px) {

    html {
        font-size: 13px;
    }

    .product-box {
        width: calc(((100% - (10px * 3)) / 3));
    }

    .product-container {
        gap: 10px;
    }
}

@media (max-width:930px) {

    .logo-and-title {
        font-size: 1rem;
    }

    nav a,
    nav {
        padding: 10px;
        margin: 0;
        gap: 3px;
    }

    .logo {
        width: 60px;
    }
}

@media (max-width:760px) {
    header {
        padding: 0;
    }

    .logo-and-title {
        flex: 0;
    }

    nav {
        padding: 0;
    }

}

@media (max-width: 680px) {

    html {
        font-size: 14px;
    }

    .product-box {
        width: calc(((100% - (10px * 2)) / 2));
    }

    .product-container {
        gap: 10px;
    }

    .search-bar {
        margin: 0 5px;
    }
}

@media (max-width: 480px) {

    html {
        font-size: 20px;
    }

    .heading a {
        font-size: 1rem;
    }

    nav a,
    .search-bar input {
        padding: 10px;
        font-size: 0.75rem;
    }

    .product-box {
        width: 100%;
    }

    .product-container {
        gap: 10px;
        width: 100%;
        margin: 0;
    }

    .arrow {
        margin: 0;
        padding: 6px 10px;
        font-size: 1em;
    }

    .content,
    .container {
        min-height: 30rem;
    }
}

@media (min-width:1606px) {
    html {
        font-size: 25px;
    }

    .product-box {
        width: calc(((100% - (20px * 5)) / 5));
    }

    .product-box .caption h4 {
        font-size: 0.7rem;
    }

    .product-box .caption p {
        font-size: 0.6rem;
    }

}