body {
    color: #f4f4f9;
    background: linear-gradient(135deg, #1b263b 0%, #2a3e59 40%, #415a77 75%, #778da9 100%);
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    margin-top: 10vh;
    font-size: 20px;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    padding: 0;
    animation: fadeIn 0.6s ease-out;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
    transition: opacity 0.3s ease;
    background-color: #f4f4f9;
}

::-webkit-scrollbar-thumb {
    background: rgba(65, 90, 119, 0.7);
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-corner {
    background: rgba(42, 62, 89, 0.9);
}

.content {
    margin: auto;
    justify-content: center;
    padding: 10px;
    min-height: 70vh;
}

footer {
    justify-self: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgba(238, 238, 240, 0.2);
    background: rgba(238, 238, 240, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #eeeef0;
    text-align: center;
    font-size: 18px;
}

header {
    width: 100%;
    background: rgba(42, 62, 89, 0.3);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(238, 238, 240, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    box-sizing: border-box;
    padding: 0 10px;
    gap: 5px;
}

header:hover {
    backdrop-filter: none;
    background-color: #2a3e59;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    gap: 10px;
    flex: 0.4;
}

.logo-and-title {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    flex: 0.5;
    padding-right: 10px;
}

.logo-and-title h1 {
    display: flex;
    font-family: "Black Ops One", serif;
    font-weight: 400;
    font-size: clamp(25px, 3vw, 50px);
    font-style: normal;
    color: #eeeef0;
    margin: 0;
}

.logo {
    max-width: 80px;
    padding-top: 10px;
}

.logo-and-title h1:hover,
.logo-and-title .logo:hover {
    cursor: pointer;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 0;
    height: 40px;
    outline: none;
    background: rgba(238, 238, 240, 0.15);
    border: 1px solid rgba(238, 238, 240, 0.2);
    border-radius: 25px;
    gap: 0;
    flex: 0.3;
}

.search-bar input {
    font-size: 17px;
    padding-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 25px;
    color: #eeeef0;
    width: 100%;
    height: 100%;
    padding-right: 45px;
}

.search-bar input:focus {
    background-color: #2a3e59;
}

.search-bar input:-webkit-autofill {
    -webkit-text-fill-color: #eeeef0 !important;
    box-shadow: 0 0 0px 1000px #2a3e59 inset !important;
}

.search-bar input::placeholder {
    color: #eeeef09a;
}

.search-bar input::selection {
    background-color: #1b263b;
}

.search-bar button {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    background: rgba(238, 238, 240, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.search-bar button:hover {
    background: #1b263b;
}

.search-bar button svg {
    display: block;
    height: 25px;
    margin: auto;
    color: #eeeef0;
}

nav a,
.cart {
    text-decoration: none;
    color: #eeeef0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 15px 25px;
    display: block;
    transition: all 0.3s ease;
    border: none;
    border-radius: 5px;
    gap: 5px;
}

nav a:hover,
.cart:hover {
    background-color: #778da9;
}

.cart {
    margin: auto;
    height: 55px;
    width: 80px;
    background: none;
    padding: 0;
}

.fa {
    padding: 0;
}

.badge:after {
    content: attr(value);
    font-size: 12px;
    color: #eeeef0;
    background: red;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: -8px;
    top: -15px;
    opacity: 0.9;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    will-change: transform;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    margin: 50px;
    animation: scroll 20s infinite linear;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.product-box {
    background: #eeeef0;
    width: calc((100% - (20px * 3)) / 4);
    height: 450px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.product-box:hover {
    transform: scale(1.05);
}

.product-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 20px;
    padding-bottom:0;
    border-bottom: 3px solid #eeeef0;
}

.product-box .caption {
    padding: 20px;
    padding-top: 0;
    background-color: #eeeef0;
    width: 100%;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}

.product-box .caption h2 {
    font-size: 22px;
    margin: 5px 0;
    color: #28282a;
}

.product-box .caption p {
    font-size: 18px;
    color: #28282a;
    margin: 0;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.arrow {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    background-color: #eeeef0;
    color: #415a77;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    margin: 20px;
}

.arrow.left {
    left: 0px;
}

.arrow.right {
    right: 0px;
}

.arrow:hover {
    background-color: #778da9;
}

.heading {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #415a77 double 5px;
    height: auto;
}

.heading a {
    color: #eeeef0;
    text-decoration: none;
    font-size: 30px;
}

.heading a:hover {
    color: #778da9;
}

.container {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: transparent;
}

.login-container,
.register-container,
.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(238, 238, 240, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #eeeef0;
}

.login-container:hover,
.register-container:hover,
.reset-container:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.login-form h2,
.register-form h2,
.reset-form h2 {
    margin: 0 0 20px;
    text-align: center;
}

.form-footer a {
    color: #1b263b;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    background: rgba(238, 238, 240, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(238, 238, 240, 0.3);
    border-radius: 5px;
    color: #eeeef0;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.form-group input::placeholder {
    color: #eeeef09a;
}

.form-group input,
.form-group textarea {
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid rgba(238, 238, 240, 0.2);
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #778da9;
    box-shadow: 0 0 5px #778da9;
}

.btn-login,
.btn-register,
.btn-reset {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #eeeef0;
    border-radius: 5px;
    color: #eeeef0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover,
.btn-register:hover,
.btn-reset:hover {
    background: #1b263b;
}

* {
    box-sizing: border-box;
}

.create-event-container {
    display: grid;
    grid-template-areas:
        "top-section right-section"
        "media-preview right-section"
        "left-section right-section";
    grid-template-columns: 2fr 1fr;
    padding: 5px;
}

.create-event-container button,
.edit-btn {
    padding: 12px;
    background-color: #415a77;
    border: none;
    border-radius: 5px;
    color: #eeeef0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    text-align: center;
}

.create-event-container button:hover,
.edit-btn:hover {
    background-color: #415a77;
    transform: translateY(-3px);
}

.create-event-container button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(85, 110, 224, 0.8);
}

.top-section {
    grid-area: top-section;
    padding: 10px;
    height: 100%;
    flex-direction: column;
}

.media-preview {
    grid-area: media-preview;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.left-section {
    grid-area: left-section;
    padding: 10px;
    height: 100%;
}

.right-section {
    grid-area: right-section;
    padding: 10px;
    height: 100%;
}

.top-section img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.upload-container {
    min-height: 50vh;
    border: 2px dashed #eeeef0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
}

.upload-container:hover {
    border-color: #778da9;
}

.upload-container input {
    display: none;
}

.upload-text {
    font-size: 16px;
    color: #eeeef0;
    margin-top: 10px;
}

.preview-item {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #eeeef0;
    cursor: pointer;
    position: relative;
}

.create-event-container .remove-btn {
    background: red;
    color: #eeeef0;
    border: none;
    cursor: pointer;
    padding: 3px 6px;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}

.upload-status {
    font-size: 14px;
    color: #415a77;
    margin-top: 10px;
    text-align: center;
}

.upload-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s ease-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 1s ease-out;
}

.input-field,
.select-field,
.color-picker,
.range-slider {
    padding: 12px;
    background-color: #eeeef0;
    border: none;
    border-radius: 5px;
    color: #28282a;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.color-picker {
    padding: 0;
}

.input-field:focus,
.select-field:focus,
.color-picker:focus,
.range-slider:focus {
    box-shadow: 0 0 5px #415a77;
}

.input-field::placeholder,
.select-field::placeholder,
.color-picker::placeholder {
    color: #aaa;
}

.select-field {
    background-color: #eeeef0;
}

.range-slider {
    width: 100%;
    height: 8px;
    background: #eeeef0;
    border-radius: 5px;
    outline: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #415a77;
    border-radius: 50%;
    cursor: pointer;
}

.event-tag {
    display: inline-block;
    background-color: #415a77;
    color: #eeeef0;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 15px;
    font-size: 14px;
}

@media (max-width: 768px) {

    body {
        margin-top: 35vh;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 20px;
    }

    .content {
        margin: 0;
    }

    header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        margin: 0;
        padding: 10px;
    }

    .logo-and-title {
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .logo-and-title h1 {
        font-size: clamp(40px, 2vw, 45px);
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav a,
    .cart {
        font-size: 20px;
        padding: 5px 10px;
        margin: 0;
    }

    .search-bar {
        flex-direction: row;
        width: 100%;
        max-width: 400px;
    }

    .search-bar input {
        font-size: 20px;
        height: 30px;
        max-width: 100%;
    }

    .search-bar button {
        height: 30px;
        width: 30px;
    }


    .product-box {
        width: calc((100% / 2));
        height: smaller;
    }

    .product-container {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    body {
        margin-top: 30vh;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 20px;
    }



    .content {
        margin: 0;
        padding: 20px;
    }

    header {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: min-content;
        margin: 0;
        padding: auto;
    }

    .logo-and-title h1 {
        font-size: clamp(25px, 2vw, 30px);
    }

    .logo-and-title img {
        width: 50px;
        height: auto;
    }

    .logo-and-title {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav {
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .search-bar {
        flex-direction: row;
        width: 100%;
        max-width: 300px;
    }

    .search-bar input {
        font-size: 15px;
        height: 30px;
        width: 100%;
    }

    .search-bar button {
        height: 30px;
        width: 30px;
    }

    nav a,
    .cart {
        font-size: 14px;
        padding: 0px 8px;
    }

    .carousel {
        width: 100%;
        margin: 0;
    }

    .product-box {
        width: 100%;
        height: small;
    }

    .product-container {
        gap: 10px;
        width: 100%;
        margin: 0;
    }

    .arrow {
        padding: 6px 10px;
        font-size: 14px;
        margin: 5px;
    }
}