
body {
    color: #f4f4f9;
    background-color: #28282a;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    margin-top: 10vh;
    font-size: 20px;
    padding: 10px;
    grid-template-rows: auto 1fr auto;
}

.content{
    margin: auto;
    justify-content: center;
}


h1 {
    color: #eeeef0;
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

footer {
    justify-self: center;
    width: 100%;
    padding: 10px;
    background-color: #415a77;
    color: #eeeef0;
    text-align: center;
    font-size: 18px;
    margin-bottom: -10px;
}



header {
    width: 100%;
    background-color: #415a77;
    position:fixed;
    top: 0;
    left: 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
    box-sizing: border-box;
    padding: 0 20px;
}


header h1, h2, h3 {
    color: #eeeef0;
    margin: 0;
    padding: 10px 0;
}

nav  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    gap: 10px;
}

header .logo {
    width: 80px;
    padding-top:10px;
}

 .logo-and-title {
    display: flex;
    align-items: center;
    gap: 10px;
}


 .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    margin: auto;
    padding: 0;
    height: 30px;
    border: none;
    outline: none;
    gap: 10px;
}



 .search-bar input {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    border:none;
    outline: none;
    background-color: #28282a;
    color: #eeeef0;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    max-width: 250px;
}


.search-bar button {
    height: 35px;
    width: 40px;
    border: none;
    border-radius: 100%;
    background-color: #eeeef0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #eeeef0;
}

.search-bar button svg {
    display: block;
    height: 25px;
    margin: auto;
    color: #415a77;
}



nav  a, .cart {
    text-decoration: none;
    color: #eeeef0;
    font-size: 20px;
    padding: 15px 25px;
    display: block;
    transition: all 0.3s ease;
    border: none;
    border-radius: 5px;
    gap:5px;
}

nav  a:hover, .cart:hover {
    background-color: #778da9;
    color: #eeeef0;
}

.cart {
    margin: auto;
    height: 55px;
    width: 80px;
    background: none;
    padding: 0;
}

.fa {
    padding: 0;
}

.badge:after {
    content: attr(value);
    font-size: 12px;
    color: #eeeef0;
    background: red;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: -8px;
    top: -15px;
    opacity: 0.9;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px; 
    padding: 20px;
    will-change: transform;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    margin: 50px;
    animation: scroll 20s infinite linear;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.product-box {
    background-color: #28282a;
    border: 3px solid #eeeef0;
    width: calc((100% - (20px * 3)) / 4);
    height: 400px;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.product-box:hover {
    transform:  scale(1.05);
}

.product-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 3px solid #eeeef0;
}

.product-box .caption {
    padding: 10px;
    background-color: #eeeef0;
    width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-box .caption h3 {
    font-size: 16px;
    margin: 5px 0;
    color: #28282a;
}

.product-box .caption p {
    font-size: 14px;
    color: #666;
    margin: 0;
}




.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #415a77;
    color: #eeeef0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    margin: 20px;
}

.arrow.left {
    left: 0px;
}

.arrow.right {
    right: 0px;
}

.arrow:hover {
    background-color: #778da9;
}

.heading {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #415a77 double 5px;
    height: auto;
}

.heading a {
    color: #eeeef0;
    text-decoration: none;
    font-size: 30px;
}

.heading a:hover {
    color: #778da9;
}
.container{ 
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.login-container,.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #415a77;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    color: #eeeef0;

}

.login-form h2, .register-form h2 {
    margin: 0 0 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eeeef0;
    color: #28282a;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.form-group input:focus {
    box-shadow: 0 0 5px rgba(85, 110, 224, 0.8);
}

.btn-login, .btn-register {
    width: 100%;
    padding: 10px;
    background-color: #415a77;
    border: none;
    border-radius: 5px;
    color: #eeeef0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover, .btn-register:hover {
    background-color: #778da9;
}


@media (max-width: 768px) {

    body{
        margin-top: 25vh;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content{
        margin:0;
    }

    header {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row; 
        justify-content: center;
        align-items: center; 
        height: auto; 
        margin: 0;
        padding: 10px;
    }

    .logo-and-title {
        justify-content: center; 
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        padding: 0;
        margin: 0;
    }

    nav a, .cart {
        font-size: 20px; 
        padding: 5px 10px; 
        margin: 0;
    }

    .search-bar {
        flex-direction: row; 
        width: 100%; 
        max-width: 400px; 
    }

    .search-bar input {
        font-size: 20px;
        height: 30px;
        max-width: 200px; 
    }

    .search-bar button {
        height: 30px;
        width: 30px;
    }


    .product-box {
        width: calc((100% / 2) ); 
        height: smaller;
    }

    .product-container {
        gap: 10px; 
    }
}

@media (max-width: 480px) {
    body{
        margin-top: 20vh;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

   
    
    .content{
        margin: 0;
        padding: 20px;
    }
    header {
        flex-wrap: wrap; 
        flex-direction: row; 
        justify-content: space-between;
        height: min-content; 
        margin: 0;
        padding: auto;
    }

    .logo-and-title h1 {
        font-size: 20px;
        white-space: nowrap; 
    }

    .logo-and-title img {
        width: 50px; 
        height: auto; 
    }
    .logo-and-title {
        margin:0;
        padding: 0;
        width: 100%;
    }

    nav {
        flex-direction: row; 
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .search-bar {
        gap: 5px; 
    }

    .search-bar input {
        font-size: 12px;
        height: 20px;
        max-width: 150px;
    }

    .search-bar button {
        height: smaller;
        width: smaller;
    }

    nav a, .cart {
        font-size: 14px;
        padding: 0px 8px;
    }

   .carousel{
    width: 100%;
    margin: 0;
   }

    .product-box {
        width: 100%; 
        height: small;
    }

    .product-container {
        gap: 10px; 
        width: 100%;
        margin: 0;
    }

    .arrow {
        padding: 6px 10px;
        font-size: 14px;
        margin: 5px;
    }
}
