@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Black+Ops+One&family=Klee+One&family=Marhey:wght@300..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

body {
    color: #f4f4f9;
    background: linear-gradient(135deg, #1b263b 0%, #2a3e59 40%, #415a77 75%, #778da9 100%);
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    font-size: 20px;
    width: 100%;
    padding: 0;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
    transition: opacity 0.3s ease;
    background-color: #f4f4f9;
}

::-webkit-scrollbar-thumb {
    background: rgba(65, 90, 119, 0.7);
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-corner {
    background: rgba(42, 62, 89, 0.9);
}

.content {
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 8% 10px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

footer {
    position: relative;
    justify-self: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgba(238, 238, 240, 0.2);
    background: transparent;
    color: #eeeef0;
    text-align: center;
    font-size: 18px;
    /* z-index: 2; */
}

footer nav {
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background: rgba(42, 62, 89, 0.3);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(238, 238, 240, 0.2);
    height: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    gap: 5px;
}

header:hover {
    backdrop-filter: none;
    background-color: #2a3e59;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    margin: 0 20px;
    transition: all 0.3s ease;
    gap: 10px;
    flex: 0.3;
}


.logo-and-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    max-width: 100%;
    flex: 0.3;
    padding: 0;
}

.logo-and-title h1 {
    display: flex;
    /* font-family: "Black Ops One", serif; */
    font-weight: 600;
    font-size: clamp(30px, 3vw, 50px);
    font-style: normal;
    color: #eeeef0;
    margin: 0;
    margin: auto;
    padding: 0;
}

.logo {
    max-width: 80px;
    padding-top: 10px;
}

.logo-and-title h1:hover,
.logo-and-title .logo:hover,
.footer-logo:hover {
    cursor: pointer;
}

.search-bar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    margin: auto;
    height: 40px;
    outline: none;
    background: rgba(238, 238, 240, 0.15);
    border: 1px solid rgba(238, 238, 240, 0.2);
    border-radius: 25px;
    gap: 0;
    flex-grow: 1;
    flex: 0.35;
}

.search-bar input {
    font-size: 17px;
    padding-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 25px;
    color: #eeeef0;
    min-width: 100%;
    height: 100%;
    padding-right: 45px;
}

.search-bar input:focus {
    background-color: #2a3e59;
}

.search-bar input::placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: #eeeef0;
}

input::selection {
    background-color: #1b263b;
    font-size: large;
}


.search-bar button {
    position: absolute;
    right: 0;
    height: 38px;
    width: 40px;
    border: none;
    border-radius: 100%;
    background: #2a3e59;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.search-bar button:hover {
    background: #1b263b;
}

.search-bar button svg {
    display: block;
    height: 25px;
    margin: auto;
    color: #eeeef0;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #eeeef0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 100;
    padding: 15px 25px;
    display: block;
    white-space: nowrap;
    transition: all 0.3s ease;
    border: none;
    border-radius: 5px;
    gap: 5px;
}

nav a:has(> svg) {
    padding: 0px 25px;
}

nav a:hover {
    background-color: #778da9;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    will-change: transform;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    margin: 50px;
    animation: scroll 20s infinite linear;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.product-box {
    background: #eeeef0;
    width: calc((100% - (20px * 3)) / 4);
    height: 450px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

@keyframes pixelReveal {
    0% {
        filter: blur(10px);
        opacity: 1;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes polaroidEntry {
    from {
        transform: translateY(100px) rotate(-10deg);
        opacity: 0;
    }

    to {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

@keyframes fallingPolaroid {
    0% {
        transform: translateY(-100px) rotate(-15deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

.product-box:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: sepia(30%) brightness(1.1) contrast(85%);
}

.product-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 20px;
    padding-bottom: 0;
}

.product-box .caption {
    padding: 20px;
    padding-top: 0;
    background-color: #eeeef0;
    width: 100%;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.product-box .caption h2 {
    font-size: 22px;
    margin: 5px 0;
    color: #28282a;
    text-align: center;
}

.product-box .caption p {
    font-size: 18px;
    color: #28282a;
    margin: 0;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: none;
    /* overflow-x: scroll; */
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    color: #eeeef0;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 35px;
    font-weight: 600;
    z-index: 1;
    margin: 20px;
}

.arrow:hover,
.heading a:hover {
    transform: scale(1.2);
    opacity: 1;
}

.heading {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #eeeef0 solid 3px;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.heading a {
    display: flex;
    color: #eeeef0;
    text-decoration: none;
    font-size: 40px;
    /* font-family: "Marhey", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

.container {
    display: flex;
    /* margin: 0;
    padding: 25% 0px; */
    justify-content: center;
    align-items: center;
    /* min-height: 100%; */
    background-color: transparent;
}

.login-container,
.register-container,
.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(238, 238, 240, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    color: #eeeef0;
}

.login-form h2,
.register-form h2,
.reset-form h2 {
    margin: 0 0 20px;
    text-align: center;
}

.login-form,
.register-form,
.reset-form {
    width: 90%;
}

.form-links,
.login-form p,
.register-form p,
.reset-form p {
    padding-top: 10px;
    text-align: left;
    font-size: 18px;
    color: #1b263b;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    z-index: 1;
    position: relative;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    background: rgba(238, 238, 240, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(238, 238, 240, 0.3);
    border-radius: 5px;
    color: #eeeef0;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.form-group input::placeholder {
    color: #eeeef09a;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #778da9;
    box-shadow: 0 0 5px #778da9;
}

.btn-login,
.btn-register,
.btn-reset {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #eeeef0;
    border-radius: 5px;
    color: #eeeef0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover,
.btn-register:hover,
.btn-reset:hover {
    background: #1b263b;
}

* {
    box-sizing: border-box;
}

.create-event-container {
    display: grid;
    grid-template-areas:
        "top-section right-section"
        "media-preview right-section"
        "left-section right-section";
    grid-template-columns: 2fr 1fr;
    padding: 5px;
}

.create-event-container button,
.edit-btn {
    padding: 12px;
    background-color: #415a77;
    border: none;
    border-radius: 5px;
    color: #eeeef0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    text-align: center;
}

.create-event-container button:hover,
.edit-btn:hover {
    background-color: #415a77;
    transform: translateY(-3px);
}

.create-event-container button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(85, 110, 224, 0.8);
}

.top-section {
    grid-area: top-section;
    padding: 10px;
    height: 100%;
    flex-direction: column;
}

.media-preview {
    grid-area: media-preview;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.left-section {
    grid-area: left-section;
    padding: 10px;
    height: 100%;
}

.right-section {
    grid-area: right-section;
    padding: 10px;
    height: 100%;
}

.top-section img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.upload-container {
    min-height: 50vh;
    border: 2px dashed #eeeef0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
}

.upload-container:hover {
    border-color: #778da9;
}

.upload-container input {
    display: none;
}

.upload-text {
    font-size: 16px;
    color: #eeeef0;
    margin-top: 10px;
}

.preview-item {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #eeeef0;
    cursor: pointer;
    position: relative;
}

.create-event-container .remove-btn {
    background: red;
    color: #eeeef0;
    border: none;
    cursor: pointer;
    padding: 3px 6px;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}

.upload-status {
    font-size: 14px;
    color: #415a77;
    margin-top: 10px;
    text-align: center;
}

.upload-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s ease-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 1s ease-out;
}

.input-field,
.select-field,
.color-picker,
.range-slider {
    padding: 12px;
    background-color: #eeeef0;
    border: none;
    border-radius: 5px;
    color: #28282a;
    font-size: 14px;
    outline: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.color-picker {
    padding: 0;
}

.input-field:focus,
.select-field:focus,
.color-picker:focus,
.range-slider:focus {
    box-shadow: 0 0 5px #415a77;
}

.input-field::placeholder,
.select-field::placeholder,
.color-picker::placeholder {
    color: #aaa;
}

.select-field {
    background-color: #eeeef0;
}

.range-slider {
    width: 100%;
    height: 8px;
    background: #eeeef0;
    border-radius: 5px;
    outline: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #415a77;
    border-radius: 50%;
    cursor: pointer;
}

.event-tag {
    display: inline-block;
    background-color: #415a77;
    color: #eeeef0;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 15px;
    font-size: 20px;
}

.event-tag:hover {
    background-color: #778da9;
}

@media (max-width: 1024px) {



    .product-box {
        width: calc((100% / 2));
        height: smaller;
    }

    .product-container {
        gap: 10px;
    }
}

@media (max-width: 480px) {

    .heading a,
    .logo-and-title h1,
    nav a {
        font-size: 1em;
    }

    nav a,
    .search-bar input {
        font-size: 0.7em;
    }

    .product-box {
        width: 100%;
    }

    .product-container {
        gap: 10px;
        width: 100%;
        margin: 0;
        animation: none;
    }

    .carousel {
        overflow-x: scroll;
    }

    .arrow {
        margin: 0;
        padding: 6px 10px;
        font-size: 1em;
    }
}

@media (min-width:1537px) {
    .product-box {
        width: calc((100% / 5));
    }


    header nav a {
        font-size: 1.5em;
    }

    .logo-and-title h1 {
        font-size: 3em;
    }
}