<!DOCTYPE html>
<html>

<body>
    <!-- Main Email Container -->
    <table role="presentation" border="2" width="90%" align="center">
        <tbody>
            <tr>
                <td>
                    <table role="presentation" width="100%" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" width="37%"><a title="Ticket Express"
                                                        href="https://ticketexpress.tpgc.me/"><img
                                                            src="https://ticketexpress.tpgc.me/images/logo.png"
                                                            alt="TICKET EXPRESS Logo" width="150px" height="150px"></a>
                                                </td>
                                                <td bgcolor="#eeeef0">
                                                    <h1 style="color: #2a3e59;" align="left">Your Ticket Confirmation
                                                    </h1>
                                                    <p style="color: #2a3e59;" align="left">Thank you for your purchase.
                                                        Below are your ticket details.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <h2 style="color: #eeeef0;" align="center">Invoice Summary</h2>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Sub Total:</strong> $0.000028
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Fees:</strong> $0.000000
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>GST:</strong> $8.000001
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Total:</strong> $0.000029
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Payment Type:</strong> Credit Card
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <h2 style="color: #eeeef0;" align="center">Your Tickets</h2>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td align="center" bgcolor="#2a3e59">
                                    <h3 style="color: #eeeef0;"><strong>Type:</strong> Free</h3>
                                    <h3 style="color: #eeeef0;"><strong>Price:</strong> $50.000001</h3>
                                    <svg id="ticket-svg" width="900" height="400" viewbox="0 0 500 200"
                                        xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid meet">
                                        <!-- Ticket Shape -->
                                        <path
                                            d="M0,40 Q20,40 20,20 H480 Q480,40 500,40 V80 Q480,80 480,100 Q480,120 500,120 V160 Q480,160 480,180 H20 Q20,160 0,160 V120 Q20,120 20,100 Q20,80 0,80 Z"
                                            fill="#eeeef0"></path>


                                        <!-- QR Code Inside the SVG -->
                                        <image
                                            href="https://api.qrserver.com/v1/create-qr-code/?size=200x200&amp;data=%7B%22id%22%3A16%2C%22salt%22%3A%220c26431c2ab89a45022496f18c7d98c91b41b9a115cf0635a1f02fb0c89aalla%22%7D"
                                            x="60" y="40" width="120" height="120"></image>


                                        <!-- Event Details -->
                                        <line x1="240" y1="23" x2="240" y2="180" stroke="#415a77" stroke-width="2.5"
                                            stroke-dasharray="5,5"></line>

                                        <text x="250" y="50" font-size="18" font-weight="bold" fill="#333">
                                            Amazing Concert 2025
                                        </text>
                                        <text x="250" y="90" font-size="14">Date: March 15, 2025</text>
                                        <text x="250" y="110" font-size="14">Location: New York, NY</text>
                                        <text x="250" y="130" font-size="14">Category: Music</text>
                                        <text x="250" y="150" font-size="14">Organizer: Ticket Express</text>

                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#2a3e59">
                                    <h3 style="color: #eeeef0;"><strong>Type:</strong> General Admission</h3>
                                    <h3 style="color: #eeeef0;"><strong>Price:</strong> $50.000007</h3>


                                    <svg id="ticket-svg" width="900" height="400" viewbox="0 0 500 200"
                                        xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid meet">
                                        <!-- Ticket Shape -->
                                        <path
                                            d="M0,40 Q20,40 20,20 H480 Q480,40 500,40 V80 Q480,80 480,100 Q480,120 500,120 V160 Q480,160 480,180 H20 Q20,160 0,160 V120 Q20,120 20,100 Q20,80 0,80 Z"
                                            fill="#eeeef0"></path>


                                        <!-- QR Code Inside the SVG -->
                                        <image
                                            href="https://api.qrserver.com/v1/create-qr-code/?size=200x200&amp;data=%7B%22id%22%3A16%2C%22salt%22%3A%220c26431c2ab89a45022496f18c7d98c91b41b9a115cf0635a1f02fb0c89aalla%22%7D"
                                            x="60" y="40" width="120" height="120"></image>


                                        <!-- Event Details -->
                                        <line x1="240" y1="23" x2="240" y2="180" stroke="#415a77" stroke-width="2.5"
                                            stroke-dasharray="5,5"></line>

                                        <text x="250" y="50" font-size="18" font-weight="bold" fill="#333">
                                            Amazing Concert 2025
                                        </text>
                                        <text x="250" y="90" font-size="14">Date: March 15, 2025</text>
                                        <text x="250" y="110" font-size="14">Location: New York, NY</text>
                                        <text x="250" y="130" font-size="14">Category: Music</text>
                                        <text x="250" y="150" font-size="14">Organizer: Ticket Express</text>

                                    </svg>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td bgcolor="#2a3e59">
                    <blockquote>
                        <p style="color: #eeeef0;" align="center">If you have any questions, please contact our support
                            team.</p>
                        <p style="color: #eeeef0;" align="center">Thank you for your purchase!</p>

                        <p style="color: #eeeef0;" align="center">&copy; 2025 Ticket Express. All rights reserved.</p>
                    </blockquote>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>