<!DOCTYPE html>
<html>

<body>
    <!-- Main Email Container -->
    <table role="presentation" border="2" width="90%" align="center">
        <tbody>
            <tr>
                <td>
                    <table role="presentation" width="100%" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" width="37%"><a title="Ticket Express"
                                                        href="https://ticketexpress.tpgc.me/"><img
                                                            src="https://ticketexpress.tpgc.me/images/logo.png"
                                                            alt="TICKET EXPRESS Logo" width="150px" height="150px"></a>
                                                </td>
                                                <td bgcolor="#eeeef0">
                                                    <h1 style="color: #2a3e59;" align="left">Your Ticket Confirmation
                                                    </h1>
                                                    <p style="color: #2a3e59;" align="left">Thank you for your purchase.
                                                        Below are your ticket details.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <h3 style="color: #eeeef0;" align="center">Event Details</h3>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Event Name:</strong> Amazing Concert 2025
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Number of Tickets Purchased:</strong> 2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Payment Type:</strong> Credit Card
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <h3 style="color: #eeeef0;" align="center">Invoice Summary</h3>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Sub Total:</strong> $0.000028
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Fees:</strong> $0.000000
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>GST:</strong> $8.000001
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Total:</strong> $0.000029
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <h3 style="color: #eeeef0;" align="center">Your Tickets</h3>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <p style="color: #2a3e59;"><strong>Type:</strong> Free</p>
                                    <p style="color: #2a3e59;"><strong>Price:</strong> $50.000001</p>
                                    <img src="https://api.grserver.com/v1/create-qr-code/?size=200x200&amp;data=%7B%22id%22%3A12%2C%22salt%22%3A%22cd85c902b60daa9272e79b17499f18aa856eeda4fce6d2373fbcfa4845c85534%22%7D"
                                        alt="QR Code">
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p style="color: #2a3e59;"><strong>Type:</strong> General Admission</p>
                                    <p style="color: #2a3e59;"><strong>Price:</strong> $50.000007</p>
                                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&amp;data=%7B%22id%22%3A16%2C%22salt%22%3A%220c26431c2ab89a45022496f18c7d98c91b41b9a115cf0635a1f02fb0c89aalla%22%7D"
                                        alt="QR Code">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <blockquote>
                        <p style="color: #eeeef0;" align="center">If you have any questions, please contact our support
                            team.</p>
                        <p style="color: #eeeef0;" align="center">Thank you for your purchase!</p>

                        <p style="color: #eeeef0;" align="center">&copy; 2025 Ticket Express. All rights reserved.</p>
                    </blockquote>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>