<style>
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    border-bottom: #eeeef0 3px solid;
    width: 100%;
  }

  .footer-logo {
    height: 20vh;
  }

  .text h1 {
    margin: 0 0 0 -25px;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .social-media {
    margin: 10px;
  }

  .contact-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .contact p {
    margin: 5px;
  }

  .tiny {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 11px;
    width: 100%;
  }

  .tiny a {
    color: #eeeef0;
    text-decoration: none;
  }

  @media (max-width: 512px) {
    .tiny {
      justify-content: center;
    }
  }
</style>

<footer>
  <div class="main">
    <img src="/images/logo.png" class="footer-logo" alt="Logo" onclick="window.location.href='/'">
    <div class="text">
      <h1 onclick="window.location.href='/'">TICKET EXPRESS</h1>
      <div class="contact">
        <p>
          00 Example Rd. City, Provice, X0X 0X0
        </p>
        <div class="contact-bottom">
          <div class="contact-b-left">
            <p>
              999-999-9999
            </p>
            <p>
              example@email.com
            </p>
          </div>
          <div class="social-media">
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tiny">
    <div class="tiny-left">
      <a href="/privacy">Privacy Policy •</a>
      <a href="/tos">Terms of Service •</a>
      <a href="/cookie">Manage Cookie Preferences</a>
    </div>
    <p>© 2025 Ticket Express. All rights reserved.</p>
  </div>
</footer>