<style>
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 5px;
    border-bottom: #eeeef0 3px solid;
  }

  .footer-logo-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .footer-logo {
    width: 183px;
    height: 180px;
    flex-shrink: 0;
  }

  .text {
    gap: 5px;
  }

  .text h1 {
    font-size: 40px;
    margin: 0;
    margin-left: -25px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .social-media{
    gap:5px;
  }

  .contact-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .contact p {
    text-align: left;
    align-self: stretch;
    margin: 5px;
  }

  .contact-b-left {
    float: left;
    gap: 5px;
  }

  .tiny {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 11px;
  }

  .tiny-left {
    gap: 5px;
  }

  .tiny a {
    color: #eeeef0;
    text-decoration: none;
  }
</style>

<footer>
  <div class="main">
    <div class="footer-logo-container">
      <img src="/images/logo.png" class="footer-logo" alt="Logo" onclick="window.location.href='/'">
    </div>
    <div class="text">
      <h1 onclick="window.location.href='/'">TICKET EXPRESS</h1>
      <div class="contact">
        <p>
          00 Example Rd. City, Provice, X0X 0X0
        </p>
        <div class="contact-bottom">
          <div class="contact-b-left">
            <p>
              999-999-9999
            </p>
            <p>
              example@email.com
            </p>
          </div>
          <div class="social-media">
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tiny">
    <div class="tiny-left">
      <a href="/privacy">Privacy Policy •</a>
      <a href="/tos">Terms of Service •</a>
      <a href="/cookie">Manage Cookie Preferences</a>
    </div>
    <p>© 2025 Ticket Express. All rights reserved.</p>
  </div>
</footer>