<header>
    <div class="logo-and-title">
        <a href="/"><img src="/images/logo.png" class="logo" alt="Logo"></a>
        <h1><a href="/">TICKET EXPRESS</a></h1>
    </div>

    <form class="search-bar" id="searchForm" method="GET" action="/event/search">
        <input type="text" name="search" id="search" placeholder="Search events..." value="">
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    <nav>
        <a href="/event/search" id="search-event-link">Browse Events</a>
        <a href="/event/create" id="create-event-link" style="display: none;">Create Events</a>
        <a href="/account/login" id="login-link">Login</a>
        <a href="/account/register" id="signup-link">Signup</a>
        <a href="#" id="logout-link" style="display: none;">Logout</a>
    </nav>
</header>

<script>
    async function updateAuthLinks() {
        const loginLink = document.getElementById("login-link");
        const signupLink = document.getElementById("signup-link");
        const logoutLink = document.getElementById("logout-link");
        const searchLink = document.getElementById("search-event-link");
        const createLink = document.getElementById("create-event-link");
        const session = cookies.getSession();

        if (session && session.length > 0) {
            loginLink.style.display = 'none';
            signupLink.style.display = 'none';
            logoutLink.style.display = 'inline';

            signupLink.insertAdjacentHTML('afterend', '<a href="/account"><i class="fa-regular fa-circle-user"></i></a>');

            logoutLink.onclick = function () {
                utility.logout();
                setTimeout(function () {
                    updateAuthLinks();
                }, 2000);
            };
            try {
                const userInfo = await page.account.userinfo();
                if (userInfo && userInfo.admin) {
                    searchLink.style.display = 'none';
                    const adminLinksHTML = `
                        <a href="/admin/logs">Logs</a>
                        <a href="/admin/console">Console</a>
                        <a href="/admin/perf">Stats</a>
                    `;
                    loginLink.insertAdjacentHTML('afterend', adminLinksHTML);
                }
                else if (userInfo && userInfo.organizer) {
                    createLink.style.display = "inline"
                }
            } catch (error) {
                console.error('Error fetching user info:', error);
            }
        } else {
            searchLink.style.display = 'inline';
            createLink.style.display = 'none';
            loginLink.style.display = 'inline';
            signupLink.style.display = 'inline';
            logoutLink.style.display = 'none';
        }
    }
    updateAuthLinks();
</script>