<header>
    
        <div class="hamburger" onclick="toggleMenu()" aria-label="Toggle Navigation">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="logo-and-title">
            <a href="/">
            <img src="/images/logo.png" class="logo" alt="Logo"></a>
            <a href="/">
            <h1>TICKET EXPRESS</h1></a>
        </div>

        <form class="search-bar" id="searchForm" method="GET" action="/event/search">
            <input type="text" name="search" id="search" placeholder="Search events..." value="">
            <button type="submit" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16">
                    <path fill="currentcolor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </button>
        </form>
        
        <nav>
            <!-- <a href="/" id ="search-event-link">Home</a> -->
            <a href="/event/create" id="create-event-link">Create Events</a>
            <a href="/account/login" id="login-link">Login</a>
            <a href="/account/register" id="signup-link">Signup</a>
            <a href="#" id="logout-link" style="display: none;">Logout</a>

        <button id = "cart" class="cart" aria-label="View Cart">
            <!-- <i class="fa badge fa-lg">&#xf07a;</i> -->
            <i class="fa  fa-lg">&#xf07a;</i>
        </button>
    </nav>
</header>


<script>
    async function updateAuthLinks() {
        const loginLink = document.getElementById("login-link");
        const signupLink = document.getElementById("signup-link");
        const logoutLink = document.getElementById("logout-link");
        // const searchLink = document.getElementById("search-event-link");
        const createLink = document.getElementById("create-event-link");
        const cart = document.getElementById("cart");
        const session = cookies.getSession();

        if (session && session.length > 0) {
            loginLink.style.display = 'none';
            signupLink.style.display = 'none';
            logoutLink.style.display = 'inline';

            signupLink.insertAdjacentHTML('afterend','<a href="/account">Account</a>');

            logoutLink.onclick = function() {
                utility.logout(); 
                setTimeout(function() {
                    updateAuthLinks();
                }, 2000);
            };
            try {
                const userInfo = await page.account.all_userinfo();
                if (userInfo && userInfo.admin) {
                    // searchLink.style.display = 'none';
                    createLink.style.display = 'none';
                    cart.style.display = 'none';
                    const adminLinksHTML = `
                        <a href="/admin/logs">Logs</a>
                        <a href="/admin/console">Console</a>
                        <a href="/admin/perf">Stats</a>
                    `;
                    loginLink.insertAdjacentHTML('afterend', adminLinksHTML);
                }
            } catch (error) {
                console.error('Error fetching user info:', error);
            }
        } else {
            // searchLink.style.display = 'inline';
            createLink.style.display = 'inline';
            loginLink.style.display = 'inline';
            signupLink.style.display = 'inline';
            logoutLink.style.display = 'none';
            cart.style.display = 'inline';
        }
    }
    updateAuthLinks();
</script>

